<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

性别：{{user_tags_json['user_sex']}}  <br>
年龄：{{user_tags_json['user_age']}}  <br>
职位类别：{{user_tags_json['user_position_type']}} <br>
教育情况：{{user_tags_json['user_education']}} <br>
期望职位：{{user_tags_json['user_expectposition']}} <br>
期望城市：{{user_tags_json['user_expectcity']}} <br>
期望薪资：{{user_tags_json['user_expectsalarys']}} <br>
在职状况：{{user_tags_json['user_status']}} <br>
毕业院校：{{user_tags_json['user_latest_schoolname']}} <br>
最近投递：{{user_tags_json['user_latest_deliver']}} <br>
</script>
</body>
</html>